{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="pragma" content="no-cache">
		<meta name="description" content="Stechuhr - Keep track of your workday.">
		<meta name="author" content="Tobias Schäfer">

		<title>Stechuhr - Keep track of your hours worked.</title>

		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link href="{% static "css/bootstrap.custom.css" %}" rel="stylesheet">
		<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-fixed-top navbar-inverse">
				<div class="container">
			 		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/stechuhr/"><i class="icon-time"></i> Stechuhr</a>
					<div class="nav-collapse collapse">
						<ul class="nav navbar-nav">
						</ul>
						{% block navbar-right %}{% endblock %}
					</div>
				</div>
			</div>
			<div class="container" id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<ul class="list-inline pull-left">
					<li><a href="https://github.com/tschaefer/stech-uhr/"><i class="icon-github"></i> Project</a></li>
					<li><a href="https://github.com/tschaefer/stech-uhr/issues"><i class="icon-bug"></i> Issues</a></li>
					<li><a href="https://raw.github.com/tschaefer/stech-uhr/master/License"><i class="icon-legal"></i> License</a></li>
				</ul>
				<ul class="list-inline pull-right">
					<li><i class="icon-time"></i> Stechuhr - Keep track of your hours worked.</li>
				</ul>
			</div>
		</div>
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
	</body>
</html>

<!-- vim: set ft=htmldjango ts=4 sw=4 : -->
