{% extends "base.html" %}
{% load stechuhr-tags %}

{% block navbar-right %}
<ul class="nav navbar-nav pull-right">
	<li><a href="/stechuhr/dashboard/" class="navbar-link"><i class="icon-dashboard"></i> Dashboard</a></li>
	<li><a href="/stechuhr/reports/" class="navbar-link"><i class="icon-calendar"></i> Reports</a></li>
	<li><a href="/stechuhr/settings/" class="navbar-link"><i class="icon-gears"></i> Settings</a></li>
	<li><a href="/stechuhr/logout/" class="navbar-link"><i class="icon-off"></i> Log out</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><i class="icon-dashboard"></i> Dashboard <small>{{ user.first_name }} {{ user.last_name }}</small></h1>
		</div>
	</div>
</div>
<div class="row last-row">
	<div class="col-lg-2">
		<div class="list-group">
			<a href="/stechuhr/dashboard/" class="list-group-item active">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-dashboard"></i> Dashboard
				</h5>
			</a>
			<a href="/stechuhr/reports/" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-calendar"></i> Reports
				</h5>
			</a>
			<a href="/stechuhr/settings/" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-gears"></i> Settings
				</h5>
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="table-header"><i class="icon-calendar"></i> Today <small>{% now "Y/n/j" %}</small></h3>
			{% if day %}
				<table class="table table-stripped table-hover">
					<tr>
						<th>Weekday</th>
						<th>Date</th>
						<th>Kind of workday</th>
						<th>Start time</th>
						<th>End time</th>
						<th>Details</th>
					</tr>
					<tr>
						<td>{{ day.report.date|date:"l" }}</td>
						<td>{{ day.report.date|date:"DATE_FORMAT" }}</td>
						<td>{{ day.report.workday }}</td>
						<td>{{ day.report.start_time|time:"TIME_FORMAT" }}</td>
						<td>{{ day.report.end_time|time:"TIME_FORMAT" }}</td>
						<td><a href="/stechuhr/reports/day/{{ day.report.date|date:"Y/n/j" }}/">Show</a></td>
					</tr>
				</table>
				{% if not day.is_working_day %}
				<div class="alert alert-info">
					No working day.
				</div>
				{% elif day.end_date %}
				<div class="alert alert-info">
					{{ day.end_date|timeuntil  }} to go till end of work.
				</div>
				{% elif day.start_date %}
				<div class="alert alert-info">
					{{ day.start_date|timesince  }} past since start of work.
				</div>
				{% endif %}
			{% else %}
				<div class="alert alert-info">
					<a href="/stechuhr/reports/day/{% now "Y" %}/{% now "n" %}/{% now "j" %}/"><strong>Create</strong></a> today's report.
				</div>
			{% endif %}
				<h3 class="table-header"><i class="icon-calendar"></i> Week <small>{% now "Y/W" %}</small></h3>
			{% if week %}
				<table class="table table-stripped table-hover">
					<tr>
						<th>Total reports</th>
						<th>Open reports</th>
						<th>Working days</th>
						<th>Details</th>
					</tr>
					<tr>
						<td>{{ week.reports.count.total }}</td>
						<td>{{ week.reports.count.opened }}</td>
						<td>{{ week.reports.count.working_days }}</td>
						<td><a href="/stechuhr/reports/week/{% now "Y/W" %}">Show</a></td>
					</tr>
				</table>
				<div class="alert alert-info">
					{{ week.reports.working_time|timeuntil_with_timedelta }} worked this week.
				</div>
			{% else %}
				<div class="alert alert-info">
					No reports found.
				</div>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="col-lg-3">
	</div>
</div>
{% endblock %}

<!-- vim: set ft=htmldjango ts=4 sw=4 : -->
