{% extends "base.html" %}

{% block navbar-right %}
<ul class="nav navbar-nav pull-right">
{% if user.is_authenticated %}
	<li><a href="/stechuhr/logout/" class="navbar-link"><i class="icon-off"></i> Log out</a></li>
{% else %}
	<li><a href="/stechuhr/login/" class="navbar-link"><i class="icon-off"></i> Log in</a></li>
{% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12 jumbotron">
		<div class="page-header">
			<h1>Stechuhr <i class="icon-time"></i>. <small>Keep track of your hours worked.</small></h1>
		</div>
		<p>A simple application which supports you to remember your daily workday.
		<a class="btn btn-lg btn-success" href="/stechuhr/signin/">Get started today</a></p>
	</div>
</div>
{% endblock %}

<!-- vim: set ft=htmldjango ts=4 sw=4 : -->
