{% extends "base.html" %}
{% load stechuhr-tags %}

{% block navbar-right %}
<ul class="nav navbar-nav pull-right">
	<li><a href="/stechuhr/login/" class="navbar-link">
		<i class="icon-off"></i> Log in</a>
	</li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><i class="icon-off"></i> Goodbye
				<small>Keep track of your hours worked.</small>
			</h1>
		</div>
	</div>
</div>
{% endblock %}

<!-- vim: set ft=htmldjango ts=4 sw=4 : -->
