{% extends "base.html" %}
{% load stechuhr-tags %}

{% block navbar-right %}
<ul class="nav navbar-nav pull-right">
	<li><a href="{% url 'dashboard' %}" class="navbar-link">
		<i class="icon-dashboard"></i> Dashboard</a>
	</li>
	<li><a href="{% url 'reports' %}" class="navbar-link">
		<i class="icon-calendar"></i> Reports</a>
	</li>
	<li><a href="{% url 'settings' %}" class="navbar-link">
		<i class="icon-gears"></i> Settings</a>
	</li>
	<li><a href="{% url 'logout' %}" class="navbar-link">
		<i class="icon-off"></i> Log out</a>
	</li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><i class="icon-calendar"></i> Reports
				<small>{{ user.first_name }} {{ user.last_name }}</small>
			</h1>
		</div>
	</div>
</div>
<div class="row last-row">
	<div class="col-lg-2">
		<div class="list-group">
			<a href="{% url 'dashboard' %}" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-dashboard"></i> Dashboard
				</h5>
			</a>
			<a href="{% url 'reports' %}" class="list-group-item active">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-calendar"></i> Reports
				</h5>
			</a>
			<a href="{% url 'settings' %}" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-gears"></i> Settings
				</h5>
			</a>
		</div>
		<div class="list-group">
			<a href="{% url 'reports_day' today|date:"Y" today|date:"n" today|date:"j" %}" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-calendar"></i> Day
					<small>{% now "Y/n/j" %}</small>
				</h5>
			</a>
			<a href="{% url 'reports_week' today|date:"Y" today|date:"W" %}" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-calendar"></i> Week
					<small>{% now "Y" %}/{% now "W" %}</small>
				</h5>
			</a>
			<a href="{% url 'reports_month' today|date:"Y" today|date:"n" %}" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-calendar"></i> Month
					<small>{% now "Y/n" %}</small>
				</h5>
			</a>
		</div>
	</div>
	<div class="col-lg-7">
		<div class="row">
			<div class="col-lg-12">
				<h3 class="table-header"><i class="icon-calendar"></i>
					{% if period == "year" %}
						Year <small> {{ today|date:"Y" }}
					{% elif period == "month" %}
						Month <small> {{ today|date:"Y/m" }}
					{% elif period == "week" %}
						Week <small> {{ today|isocalendar:"ISOYEARWEEK" }}
					{% endif %}
					{% if not count or count.opened > 0 %}
						<span class="text-info">
							<i class="icon-star-empty"></i>
						</span>
					{% else %}
						<span class="text-info">
							<i class="icon-star"></i>
						</span>
					{% endif %}
					</small>
				</h3>
			{% if count %}
				<table class="table table-stripped table-hover">
					<thead>
						<tr>
							<th>Reports</th>
							<th>Working days</th>
							<th>Leave days</th>
							<th>Sick days</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ count.total }}</td>
							<td>{{ count.working_days }}</td>
							<td>{{ count.leave_days }}</td>
							<td>{{ count.sick_days }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<canvas id="count-chart" width="650" height="250"></canvas>
					<p>Relation of working days, leave days and sick days</p>
					<ul class="list-unstyled">
						<li><i style="color: #4247CA;" class="icon-tint"></i>
						Working days</li>
						<li><i style="color: #8142CA;" class="icon-tint"></i>
						Leave days</li>
						<li><i style="color: #42CA81;" class="icon-tint"></i>
						Sick days</li>
					</ul>
				</div>
			{% if count.working_days > 0 %}
				<table class="table table-stripped table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Total</th>
							<th>Average</th>
							<th>Longest</th>
							<th>Shortest</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Working time</th>
							<td>{{ working_time.total|timeelapsed:"d" }}</td>
							<td>{{ working_time.avg_per_day|timeelapsed }}</td>
							<td>{{ working_time.max|timeelapsed }}</td>
							<td>{{ working_time.min|timeelapsed }}</td>
						</tr>
					{% if pause %}
						<tr>
							<th>Pause</th>
							<td>{{ pause.total|timeelapsed:"d" }}</td>
							<td>{{ pause.avg_per_day|timeelapsed }}</td>
							<td>{{ pause.max|timeelapsed }}</td>
							<td>{{ pause.min|timeelapsed }}</td>
						</tr>
					{% endif %}
					</tbody>
				</table>
				<div>
					<canvas id="wt-chart" width="650" height="250"></canvas>
					<p>Working time and pause trend of last eight working days</p>
					<ul class="list-unstyled">
						<li><i style="color: #4247CA;" class="icon-tint"></i>
						Working time</li>
						<li><i style="color: #8142CA;" class="icon-tint"></i>
						Pause</li>
					</ul>
				</div>
				<table class="table table-stripped table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Earliest</th>
							<th>Latest</th>
							<th>Longest</th>
							<th>Shortest</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Day</th>
							<td>{{ day.early }}</td>
							<td>{{ day.late }}</td>
							<td>{{ day.long }}</td>
							<td>{{ day.short }}</td>
						</tr>
					</tbody>
				</table>
				<div>
					<canvas id="day-chart" width="650" height="250"></canvas>
					<p>Start time and end time trend of last eight working
					days</p>
					<ul class="list-unstyled">
						<li><i style="color: #8142CA;" class="icon-tint"></i>
						Start time</li>
						<li><i style="color: #4247CA;" class="icon-tint"></i>
						End time</li>
					</ul>
				</div>
			{% endif %}
			{% else %}
				<div class="alert alert-info">
					No reports found.
				</div>
			{% endif %}
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8">
				<form action="/stechuhr/reports/" method="post" id="form_reports">
					{% csrf_token %}
					<div class="form-group">
						<label for="id_period">Period</label>
						<select class="form-control input-sm" id="id_period"
							name="period">
							<option value="year"
								{% if period == "year" %}selected{% endif %}>
								Year {{ today|date:"Y" }}
							</option>
							<option value="month"
								{% if period == "month" %}selected{% endif %}>
								Month {{ today|date:"Y/m" }}
							</option>
							<option value="week"
								{% if period == "week" %}selected{% endif %}>
								Week {{ today|isocalendar:"ISOYEARWEEK" }}
							</option>
						</select>
					</div>
					<button name="select" class="btn btn-primary btn-xs" type="submit"
						value="1">Select</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
	{{ count.chart|chart:"count-chart"|safe }}
</script>
<script>
	{{ working_time.chart|chart:"wt-chart"|safe }}
</script>
<script>
	{{ day.chart|chart:"day-chart"|safe }}
</script>
{% endblock %}


<!-- vim: set ft=htmldjango ts=4 sw=4 : -->
