{% extends "base.html" %}
{% load stechuhr-tags %}

{% block navbar-right %}
<ul class="nav navbar-nav pull-right">
	<li><a href="/stechuhr/dashboard/" class="navbar-link"><i class="icon-dashboard"></i> Dashboard</a></li>
	<li><a href="/stechuhr/reports/" class="navbar-link"><i class="icon-calendar"></i> Reports</a></li>
	<li><a href="/stechuhr/settings/" class="navbar-link"><i class="icon-gears"></i> Settings</a></li>
	<li><a href="/stechuhr/logout/" class="navbar-link"><i class="icon-off"></i> Log out</a></li>
</ul>

{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><i class="icon-gears"></i> Settings <small>{{ user.first_name }} {{ user.last_name }}</small></h1>
		</div>
	</div>
</div>
<div class="row last-row">
	<div class="col-lg-2">
		<div class="list-group">
			<a href="/stechuhr/dashboard/" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-dashboard"></i> Dashboard
				</h5>
			</a>
			<a href="/stechuhr/reports/" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-calendar"></i> Reports
				</h5>
			</a>
			<a href="/stechuhr/settings/" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-gears"></i> Settings
				</h5>
			</a>
		</div>
		<div class="list-group">
			<a href="/stechuhr/settings/basic/" class="list-group-item">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-user"></i> Basic
				</h5>
			</a>
			<a href="/stechuhr/settings/jobs/" class="list-group-item active">
				<h5 class="list-group-item-heading">
					<i class="icon-fixed-width icon-desktop"></i> Jobs
				</h5>
			</a>
		</div>
	</div>
	<div class="col-lg-7">
{% if jobs %}
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-stripped table-hover">
					<tr>
						<th>#</th>
						<th>Company</th>
						<th>Joined at</th>
						<th>Leaved at</th>
						<th>Details</th>
					</tr>
				{% for job in jobs %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ job.company }}</td>
						<td>{{ job.joined_at|date:"DATE_FORMAT" }}</td>
						<td>{{ job.leaved_at|date:"DATE_FORMAT" }}</td>
						<td><a href="/stechuhr/settings/jobs/{{ job.pk }}/">Show</a></td>
					</tr>
				{% endfor %}
				</table>
				<a href="/stechuhr/settings/jobs/new/" class="btn btn-primary btn-sm">Create new</a>
			</div>
		</div>
{% else %}
		<div class="row">
			<div class="col-lg-12">
				<h3 class="table-header">No jobs found</h3>
				<div class="alert alert-info form-alert">
					<a href="/stechuhr/settings/jobs/new/" class="alert-link">Create</a>
					a job record.
				</div>
			</div>
		</div>
{% endif %}
	</div>
	<div class="col-lg-3">
	</div>
</div>
{% endblock %}

<!-- vim: set ft=htmldjango ts=4 sw=4 : -->
